name: test

on:
  pull_request_target:
    types: [labeled, synchronize]

permissions:
  contents: read

jobs:  
  test:
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'ok-to-test')

    steps:
    - uses: actions/checkout@v6
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    - uses: actions/setup-go@v5
      with:
        go-version-file: go.mod
    
    - name: Run tests
      run: make testacc
