name: test

on:
  pull_request_target:
    types: [labeled, synchronize]

jobs:  
  test:
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'ok-to-test')

    steps:
    - uses: actions/checkout@v3
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    - uses: actions/setup-go@v3
      with:
        go-version: 1.19
    
    - name: Run tests
      run: make testacc
